<mat-toolbar>
  <div class="flex w-full justify-end">
    <div class="flex-stretch"></div>
    <mat-icon class="mr-4">brightness_5</mat-icon>
    <mat-slide-toggle [formControl]="toggleControl" class="mr-4">
    </mat-slide-toggle>
    <mat-icon>bedtime</mat-icon>
  </div>
</mat-toolbar>
<div class="p-8 mat-app-background">
  <h1>Passangers in the Titanic</h1>
  <div class="w-full flex justify-end mb-4">
    <div class="mr-4">
      <button
        mat-mini-fab
        color="accent"
        aria-label="Example icon button with a filter list icon"
        (click)="import()"
      >
        <mat-icon>import_contacts</mat-icon>
      </button>
    </div>
    <div>
      <button
        mat-mini-fab
        color="primary"
        aria-label="Example icon button with a filter list icon"
        (click)="addPerson()"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-full">
    <ng-container matColumnDef="_id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element">{{ element._id }}</td>
    </ng-container>
    <ng-container matColumnDef="Survived">
      <th mat-header-cell *matHeaderCellDef class="text-center">
        <div class="w-full text-center">Survived</div>
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.Survived == 0 ? "No" : "Yes" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="Pclass">
      <th mat-header-cell *matHeaderCellDef>Pclass</th>
      <td mat-cell *matCellDef="let element" class="w-full text-center">
        {{ element.Pclass }}
      </td>
    </ng-container>
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.Name }}</td>
    </ng-container>
    <ng-container matColumnDef="Sex">
      <th mat-header-cell *matHeaderCellDef>Sex</th>
      <td mat-cell *matCellDef="let element">{{ element.Sex }}</td>
    </ng-container>
    <ng-container matColumnDef="Age">
      <th mat-header-cell *matHeaderCellDef>Age</th>
      <td mat-cell *matCellDef="let element">{{ element.Age }}</td>
    </ng-container>
    <ng-container matColumnDef="SiblingsSpouses">
      <th mat-header-cell *matHeaderCellDef>Siblings/<br />Spouses</th>
      <td mat-cell *matCellDef="let element">{{ element.SiblingsSpouses }}</td>
    </ng-container>
    <ng-container matColumnDef="ParentsChildren">
      <th mat-header-cell *matHeaderCellDef>Parents/<br />Children</th>
      <td mat-cell *matCellDef="let element">{{ element.ParentsChildren }}</td>
    </ng-container>
    <ng-container matColumnDef="Fare">
      <th mat-header-cell *matHeaderCellDef>Fare</th>
      <td mat-cell *matCellDef="let element">{{ element.Fare }}</td>
    </ng-container>
    <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <div class="flex justify-around">
          <button
            mat-mini-fab
            color="primary"
            aria-label="Example icon button with a filter list icon"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-mini-fab
            color="warn"
            aria-label="Example icon button with a filter list icon"
            (click)="deletePerson(element)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
